Proper Name <proper@email.xx> Commit Name <commit@email.xx>

# I've managed to commit from a variety of author settings
Chisel <chisel@chizography.net>      Chisel <chisel.wright@net-a-porter.com>
Chisel <chisel@chizography.net>      Chisel Wright <chisel.wright@net-a-porter.com>
Chisel <chisel@chizography.net>      Chisel Wright <chisel@blaze.herlpacker.co.uk>
Chisel <chisel@chizography.net>      Chisel Wright <chisel@herlpacker.co.uk>

